body{
    display: flex;
    background-color: rgb(100, 38, 92);
    gap: 5px;
    flex-direction: column;
    align-items: center;

}
button {
    padding: 15px 20px;
    background-color: #76a52a;
    color: rgb(218, 215, 214);
}
input {
    padding: 15px 25px;
    background-color: #3b5047;
    color: #ffffff;
}
#limpar{

    padding: 15px 104.5px;
    width: 173px;
    color: #ff0000;
    background-color: #fad400;
}

#ponto{
    padding-right: 1px;
}

#adicao{
    padding-right: 24px 24px; 
    color: rgba(238, 11, 11, 0.5); 
}